<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        My Fav Movies
    </h1> 
    {% if movies %}
    <ul>
        {% load static %}
        <img style="width: 300px;height: 300px;" src="{% static 'movies/img-1.jpg' %}" alt="image test" />
        {% for movie in movies %}
        <li>{{movie|title}}</li>

        {% endfor %}
    </ul>
    {% else %}
    <p>no fav movies</p>
    {% endif %}


</body>

</html>